
.DS_Store

frontend/ChatbotAI/.vscode/

backend/.idea/

backend/ChatbotAI.API/bin/

backend/ChatbotAI.Application/bin/

backend/ChatbotAI.Application/obj/

backend/ChatbotAI.Domain/bin/

backend/ChatbotAI.Domain/obj/

backend/ChatbotAI.Infrastructure/bin/

backend/ChatbotAI.Infrastructure/obj/

backend/ChatbotAI.Persistence/bin/

backend/ChatbotAI.Persistence/obj/

backend/ChatbotAI.API/obj/

frontend/.angular/

frontend/node_modules/

obj/

backend/ChatbotAI.sln.DotSettings.user

backend/ChatbotAI.UnitTests/bin/
